body {
  background-color: rgb(252, 236, 251);
}
img {
  width: 60%;
  border-radius: 2rem;
}
.picture {
  text-align: center;
}
#definition {
  font-weight: 900;
  font-style: italic;
  padding: 1rem;
  margin: 1rem;
}
.wrapper {
  width: 80%;
  background: linear-gradient(rgb(252, 236, 251), #b664e6);
  margin: auto;
  border-radius: 2rem;
  padding-bottom: 1rem;
}

h1 {
  margin: auto;
  text-align: center;
  font-size: 4rem;
}
h2 {
  padding-left: 2rem;
  color: darkblue;
}
footer {
  text-align: center;
  font-size: 12px;
}
p {
  padding-left: 1rem;
  font-size: 1rem;
  margin: 1rem;
}
